{% extends './includes/layout.html' %}

{% block body %}
<br>
<div class = "container" >
    <h1>Add Article</h1>
  <div class="row">
    <div class="col-sm-4">
      {% from "./includes/_fromhelper.html" import render_field %}
      <form method="POST" action="{{ url_for('add_room_emd') }}">
          <div class="form-group">
            {{ render_field(form.name_of_the_institute, class_="form-control") }}
          </div>
          <div class="form-group">
            {{ render_field(form.name_of_classroom, class_="form-control",) }}
          </div>
          <div class="form-group">
            {{ render_field(form.no_of_occupants, class_="form-control",) }}
          </div>
          <div class="form-group">
            {{ render_field(form.age_range, class_="form-control",) }}
          </div>
    </div>
    <div class="col-sm-4">    
          <div class="form-group">
            {{ render_field(form.size_of_the_room, class_="form-control",) }}
          </div>
          <div class="form-group">
            {{ render_field(form.no_of_windows, class_="form-control",) }}
          </div>
          <div class="form-group">
            {{ render_field(form.no_of_doors, class_="form-control",) }}
          </div>
          <div class="form-group">
            {{ render_field(form.no_of_ac, class_="form-control",) }}
          </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
          {{ render_field(form.no_of_fan, class_="form-control",) }}
        </div>
        <div class="form-group">
          {{ render_field(form.no_of_ac_on_status, class_="form-control",) }}
        </div>
        <div class="form-group">
          {{ render_field(form.no_of_fan_on_status, class_="form-control",) }}
        </div>
        <div class="form-group">
          {{ render_field(form.no_of_open_window, class_="form-control",) }}
        </div>
        <div class="form-group">
          {{ render_field(form.no_of_open_doors, class_="form-control",) }}
        </div>
        <p><input class="btn btn-primary" type="submit" value="Submit">
      </form>
    </div>
  </div>  
</div>
{% endblock %}